/* Application styles */
.collapsible .toggle::before {
  content: "+";
}

.collapsible.open .toggle::before {
  content: "–";
}

.collapsible .content {
  display: none;
}

.collapsible.open .content {
  display: block;
}

thead.settings {
  cursor: pointer;
}

.letter {
  width: 2rem;
  height: 2rem;
  font-size: 1rem;
  line-height: 1.4rem;
  border-radius: 0.125rem;
}

@media (min-width: 1024px) {
  .letter {
    width: 4rem;
    height: 4rem;
    font-size: 3.75rem;
    line-height: 1;
    border-radius: 0.5rem;
  }
}
