/* Application styles */
.collapsible .toggle::before {
  content: "+";
}

.collapsible.open .toggle::before {
  content: "–";
}

.collapsible .content {
  display: none;
}

.collapsible.open .content {
  display: block;
}

thead.settings {
  cursor: pointer;
}
