<%= turbo_frame_tag "word_#{word.id}_attempt_#{attempt.position}" do %>
  <div class="flex justify-center">
    <% Rails.logger.info("#{attempt.guess} #{word.to_guess} => #{attempt_result(attempt.guess, word.to_guess)}") %>
    <% attempt_result(attempt.guess, word.to_guess).each do |letter, result| %>
      <div class="font-mono mx-0.5 my-1 letter flex items-center text-gray-900 bg-white border border-gray-200  dark:border-gray-600  dark:text-white justify-center align-middle <%= letter_class(result) %>">
        <%= letter %>
      </div>
    <% end %>
  </div>
<% end %>
